.layout-wrapper {
    display: flex;
    min-height: 100vh;
    background: #f4f6f9;
}

.main-content {
    flex: 1;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
}

.content-body {
    padding: 130px 40px 40px 40px;
    flex: 1;
}